@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  font: 16px 'Open Sans';
}

.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search {
  background: url('./assets/icons/Search.svg') no-repeat 2px 6px;
  background-size: 15px;
  padding-left: 25px;
  border-radius: 5px;
}

.select {
  background: url('./assets/icons/shape.png') no-repeat 6px 9px;
  background-size: 12px;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
